name: Build Android APK
on:
  push:
    branches: [ main ] # هر وقت کدی در شاخه اصلی تغییر کرد

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v3

      - name: set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Dependencies
        run: |
          npm install @capacitor/core @capacitor/cli @capacitor/android
          npx cap init "MyNewsApp" "com.example.newsapp" --web-dir .
          npx cap add android

      - name: Build Android Project
        run: |
          npx cap copy
          cd android && ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: app-debug.apk
          path: android/app/build/outputs/apk/debug/app-debug.apk
