name: Build Android APK
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v3

      - name: set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Build and Sync
        run: |
          npm install @capacitor/core @capacitor/cli @capacitor/android
          npx cap init "Gildokht" "com.gildokht.app" --web-dir .
          npx cap add android || true
          npx cap copy android

      - name: Build APK
        run: |
          cd android
          chmod +x gradlew
          ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: Gildokht-Final-APK
          path: android/app/build/outputs/apk/debug/app-debug.apk
